# Virtual Environment
venv/
.env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Test cache
.pytest_cache/

# Mypy cache
.mypy_cache/